





<h1 id="username"><%= @profile.name %><a href="/profile/<%=@profile.id%>/edit"><i class="edit icon"></i></a><h1>

<div id="profile">
<div class="articlediv">
<a href="/blog/new"><i class="massive plus square icon"></i></a>
</div>

<% @users_article.each do |article| %>
    <div class="articlediv">
<h3> <%= article.title%> <a href="/blog/<%=article.id%>/edit"><i class="edit icon"></i></a><a class="nav ui " id="test" href="blog/delete/<%=article.id%>"><i class="trash alternate outline icon"></i></a></h3>

<img class="articleimg"src=<%= article.image %> >
<p> <%= article.text_content %> </p>
</div>
<%end%>


</div>

